* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
}

button {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

button:hover {
    background-color: #218838;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer p {
    margin: 0;
}

.noteone-link {
    font-size: 18px;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.noteone-link:hover {
    background-color: #007BFF;
    color: white;
}
